<section id="single_estimate_wrap">
<h2><%= @single_estimate[0].title %></h2>
<p>High End: <%= @single_estimate[0].high_end %> | Low End: <%= @single_estimate[0].low_end %></p>
<ul class="list-group">    
<% @single_estimate[0].components.each do |comp| %>
    <li class="list-group-item">
        <%= comp %>
    </li>
<% end %>
</ul>
</section>